<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/style.css')}}">  
    </head>
    <body>
        <img src="{{ url_for('static',filename='img/TatelierIco_v2.png) }}" />
        <p>Tatelier ログインページへようこそ!!</p>
        <p>新規登録は<a href="">こちら</a></p>
        <form action="/send" method="POST">
            ID:<input type="text" name="id"/>
            名前:<input type="text" name="name" />
            年齢:<input type="text" name="age" />
            <input type="submit" value="送信" />
        </form>
    </body>
</html>